$text-color: #2d2f30;
$text-color-medium: #4f4f4f;
$text-color-light: #8b8c8c;
$text-color-white: #ffffff;
$text-color-blue: #094b72;

$bg-color: #094b72;
$bg-color-medium: #004d7b;
$bg-color-light: #f2f7ff;
$bg-color-white: #ffffff;

$border-radius-pill: 50rem;
$border-radius-circle: 50%;
$border-radius: 8px;

$border-color-white: #ffffff;
