---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Legalization from "../sections/Legalization.astro";
import Statistics from "../sections/Statistics.astro";
import Testimonial from "../sections/Testimonial.astro";
import Questions from "../sections/Questions.astro";
---

<Layout>
  <main>
    <Hero />
    <Legalization />
    <Statistics />
    <Testimonial />
    <Questions />
  </main>
</Layout>
