---
export interface Props {
  direction?: "row" | "column" | "stretch";
  gap?: string;
}

const { direction = "row", gap = "16px" } = Astro.props;
---

<div class={direction} style={{ gap }}>
  <slot />
</div>

<style lang="scss" scoped>
  div {
    display: inline-flex;

    &.stretch {
      width: 100%;
      justify-content: space-between;
    }

    &.row {
      flex-direction: row;
    }

    &.column {
      flex-direction: column;
    }
  }
</style>
