---
import Logo from "../components/Logo.astro";
import Search from "../components/Search.astro";
---

<header>
  <div class="container">
    <div>
      <Logo />

      <nav>
        <ul>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/testimonials">Testimonials</a>
          </li>
          <li>
            <a href="/about">about</a>
          </li>
          <li>
            <a href="/terms">terms</a>
          </li>
        </ul>
      </nav>

      <Search />
    </div>
  </div>
</header>

<style lang="scss">
  header {
    .container div {
      margin-top: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    ul {
      gap: 56px;
      font-family: Poppins;
      font-size: 12px;
      line-height: 23px;
      letter-spacing: 1.5px;
      text-transform: uppercase;

      display: grid;
      grid-template-columns: repeat(4, auto);
      gap: 56px;
    }
    li {
      border-bottom: 3px solid transparent;

      &::after {
        content: "";
        display: block;
        width: 80%;
        height: 2px;
        margin: 0 auto;
        background-color: $text-color-blue;
        border-radius: 2px;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
</style>
