---
import Button from "../components/Button.astro";
import phone from "../images/call.svg";
import client from "../images/questions.jpg";
---

<section>
  <div class="container">
    <div class="block">
      <h2>Complex Questions?</h2>
      <p>
        Nous sommes là pour vous aider. Contactez-nous par téléphone ou par
        e-mail et nous vous répondrons dans les plus brefs délais.
      </p>

      <Button svg={phone}>Call now</Button>
    </div>

    <div class="img">
      <img src={client} alt="phone" />
    </div>
  </div>
</section>

<style lang="scss" scoped>
  section {
    padding: 40px 0;
    .container {
      display: grid;
      grid-template-columns: 1fr 330px;
      gap: 30px;
    }
    .block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 30px;

      h2 {
        font-family: Playfair Display;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0.5px;
      }

      p {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0.5px;
      }
    }

    .img {
      font-size: 0;
      line-height: 0;

      overflow: hidden;
      border-bottom-left-radius: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
</style>
