---
import Footer from "../sections/Footer.astro";
import Headers from "../sections/Headers.astro";

export interface Props {
  title?: string;
}

const { title = "Lawyer" } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Headers />

    <slot />

    <Footer />
  </body>
</html>

<style lang="scss">
  @import "../styles/index.scss";
</style>

<script>
  import EmblaCarousel, { EmblaOptionsType } from "embla-carousel";

  const emblaNode = document.querySelector(".embla") as HTMLElement;
  const options: EmblaOptionsType = {
    slidesToScroll: "auto",
    containScroll: "trimSnaps",
    align: "start",
  };

  const embla = EmblaCarousel(emblaNode, options);
</script>
