---
import Footer from "../sections/Footer.astro";
import Headers from "../sections/Headers.astro";

import "../styles/global.css";

export interface Props {
  title?: string;
}

const { title = "Lawyer" } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@700;900&family=Plus+Jakarta+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>

  <body>
    <Headers />

    <slot />

    <Footer />
  </body>
</html>

<script>
  import EmblaCarousel, { EmblaOptionsType } from "embla-carousel";

  const emblaNode = document.querySelector(".embla") as HTMLElement;
  const options: EmblaOptionsType = {
    slidesToScroll: "auto",
    containScroll: "trimSnaps",
    align: "start",
  };

  const embla = EmblaCarousel(emblaNode, options);
</script>
